.myTeamContainer{
    padding: 2rem;
    border-radius: 1rem;
    border: 3px solid #E2E9F9;
}

.myTeamContainer h1{
    position: relative;
    text-align: center;
}

.myTeamContainer >div{
    display: flex;
    gap: 1rem;
}

.rulesContainer ul{
    list-style-type: disc;
}

.rulesContainer li{
    margin: 10px 5px;
}

